body{

  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
  font-family:sans-serif;
  position:relative;
  
}
h3{font-family: Arial, Helvetica, sans-serif;
  color: white

}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.profile-pic{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  display:block;
  margin:0 auto 20px auto;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.lamp{
  width:60px;
  height:120px;
  background:#fff;
  border-radius:30px;
  box-shadow:0 0 10px #fffc87;
  position:absolute;
  left:50px;
  top:50%;
  transform:translateY(-50%);
  transition: box-shadow 0.3s;
  
}


.login-form{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  padding:30px;
  border-radius:15px;
  display:flex;
  flex-direction:column;
  gap:15px;
  z-index:1;
    width:350px;
  border-radius:20px;
  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.login-form input{
  padding:10px;
  border:none;
  border-radius:8px;
  background:rgba(255,255,255,0.1);
  color:#fff;
}

.login-form input::placeholder{
  color:rgba(255,255,255,0.5);
}

.login-form button{
  padding:10px;
  border:none;
  border-radius:8px;
  background:linear-gradient(90deg,#facc15,#f43f5e);
  color:#000;
  font-weight:bold;
  cursor:pointer;
  transition:all 0.3s;
}

.login-form button:hover{
  transform:scale(1.05);
  box-shadow:0 0 15px #facc15;}

body[data-on="true"] .lamp{
  box-shadow:0 0 40px #facc15;
}
.container{
  position:relative;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.login-form h2{color: white;
font-family: Arial, Helvetica, sans-serif;}
.d1 input{
  margin: 20px;
  color:#000;
  background-color: #facc15;
  

}
  .d1 input::placeholder{
    color: #000;
  }
  .f3{
    background-color: #f43f5e;
  }